{% extends 'core/menu.html' %}

{% load static %}


    <!-- Navbar -->
 

{% block content %}

<!-- Sobre Nosotros -->
<div
class="text">
  <h1 style="text-align: center; margin: 30px; font-weight: 1000;">Sobre Nosotros:</h1>
</div>

<div class="text" style="text-align: center; margin: 30px; justify-content: center;">
  <p style="font-weight: 600; font-size: 20px;">
    En el Centro Médico Galenos, nos dedicamos a proporcionar atención médica integral y de alta calidad 
    para satisfacer las necesidades de salud de nuestra comunidad. Nuestra misión es ser líderes en el 
    cuidado de la salud, brindando servicios médicos excepcionales con un enfoque centrado en el paciente.
  </p>
</div>

<div
class="text">
  <h1 style="text-align: center; margin: 30px; font-weight: 1000;">Nuestra Historia:</h1>
</div>

<div class="text" style="text-align: center; margin: 30px; justify-content: center;">
  <p style="font-weight: 600; font-size: 20px;">
    Fundado en [año de fundación], el Centro Médico Galenos ha crecido y evolucionado para convertirse en 
    un referente en servicios médicos en [ubicación]. Desde nuestros humildes comienzos, hemos mantenido 
    nuestro compromiso con la excelencia clínica y la atención personalizada.
  </p>
</div>

<div
class="text">
  <h1 style="text-align: center; margin: 30px; font-weight: 1000;">Nuestro Compromiso:</h1>
</div>

<div class="text" style="text-align: center; margin: 30px; justify-content: center;">
  <p style="font-weight: 600; font-size: 20px;">
    En Galenos, nos esforzamos por proporcionar un ambiente cálido y acogedor donde los pacientes se sientan 
    cómodos y seguros. Nuestro equipo de profesionales altamente calificados, desde médicos hasta personal 
    de apoyo, está comprometido con el bienestar y la salud de cada paciente.
  </p>
</div>

<div
class="text">
  <h1 style="text-align: center; margin: 30px; font-weight: 1000;">Servicios:</h1>
</div>

<div class="text" style="text-align: center; margin: 30px; justify-content: center;">
  <p style="font-weight: 600; font-size: 20px;">
    Ofrecemos una amplia gama de servicios médicos para abordar diversas necesidades de salud. 
    Ya sea una consulta de rutina, tratamiento especializado o servicios preventivos, 
    estamos aquí para cuidar de usted y su familia en todas las etapas de la vida.
  </p>
</div>

<div
class="text">
  <h1 style="text-align: center; margin: 30px; font-weight: 1000;">Visión:</h1>
</div>

<div class="text" style="text-align: center; margin: 30px; justify-content: center;">
  <p style="font-weight: 600; font-size: 20px;">
    Nos visualizamos como un centro médico líder que se destaca por la excelencia clínica, 
    la innovación y la empatía hacia nuestros pacientes. Buscamos ser un recurso confiable 
    para la salud en nuestra comunidad, brindando atención de calidad que marque la 
    diferencia en la vida de las personas.
  </p>
</div>

{% endblock content %}