<!-- Footer -->
<div class="container">
  <footer class="py-3 my-4" style="color: rgb(80, 80, 80); font-weight: bold">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item" style="margin: 20px;">
          Contactanos a través de: 
          <br>
          Mail: atencion@cmgalenos.cl
          <br>
          Teléfono: +56227607777
          <br>
      </li>
      <li class="nav-item" style="margin: 20px;">
        Servicio de atención:
        <br>
        Lunes a Sábado
        <br>
        09:00 a 20:00 hrs.</a>
    </li>
      <li class="nav-item" style="margin: 20px;">      
          Encuéntranos en:
          <br>
          Ahumada 327 
          <br>
          Región Metropolitana, Santiago</a>
      </li>
    </ul>
    <p class="text-center">© 2023 Centro Medico Galenos</p>
  </footer>
</div>