<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PetShop</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body style="margin: 0; padding: 0; background-image: url(img/Background.jpg); background-position: center; background-size: cover;">

    <!-- Navbar -->
    <div 
      id="menu-superior">
    </div>

    <!-- titulo -->
    <div class="text-center">
      <h1 style="margin-top: 20px; font-weight: 1000;">Gestionar Medicos</h1>
    </div>
    <br>

    <div class="d-flex justify-content-center">
      <form class="form-inline mx-auto">
        <div class="d-flex align-items-center">
          <input class="form-control mr-sm-2" type="search" id="search" placeholder="Buscar Médicos" aria-label="Search">
          <button class="btn btn-dark my-2 my-sm-0" type="submit" style="margin: 20px;">Buscar</button>
        </div>
      </form>
    </div>
    <br>

    <!-- Tabla Usuario -->
    <div class="table-responsive">
      <table class="table table-bordered" style="background-color: rgb(184, 184, 184); border: 2px solid black; width: 90%; margin: auto;">
        <thead class="table-dark">
          <tr>
            <th scope="col" style="font-weight: 1000; font-size: 20px;">ID</th>
            <th scope="col" style="font-weight: 1000; font-size: 20px;">RUT</th>
            <th scope="col" style="font-weight: 1000; font-size: 20px;">Nombre</th>
            <th scope="col" style="font-weight: 1000; font-size: 20px;">Apellido</th>
            <th scope="col" style="font-weight: 1000; font-size: 20px;">Especialidad</th>
            <th scope="col" style="font-weight: 1000; font-size: 20px;">Imagen</th>
            <th scope="col" style="font-weight: 1000; font-size: 20px;">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="color: black; font-size: 25px;">001</td>
            <td style="color: black; font-size: 25px;">10.774.567-7</td>
            <td style="color: black; font-size: 25px;">Daniel Eduardo</td>
            <td style="color: black; font-size: 25px;">Carvajal Hausdorf</td>
            <td style="color: black; font-size: 25px;">Medicina General</td>
            <td><img src="img/doctor01.gif" style="width: 120px;"></td>
            <td style="color: black; font-size: 25px;">
              <button type="submit" class="btn btn-dark btn-lg">Editar</button>
              <button type="submit" class="btn btn-dark btn-lg">Eliminar</button>
            </td>
          </tr>
          <tr>
            <td style="color: black; font-size: 25px;">002</td>
            <td style="color: black; font-size: 25px;">8.222.788-3</td>
            <td style="color: black; font-size: 25px;">Marcela Paz</td>
            <td style="color: black; font-size: 25px;">Gallegos Angulo</td>
            <td style="color: black; font-size: 25px;">Medicina General</td>
            <td><img src="img/doctor02.gif" style="width: 120px;"></td>
            <td style="color: black; font-size: 25px;">
              <button type="submit" class="btn btn-dark btn-lg">Editar</button>
              <button type="submit" class="btn btn-dark btn-lg">Eliminar</button>
            </td>
          </tr>
          <tr>
            <td style="color: black; font-size: 25px;">003</td>
            <td style="color: black; font-size: 25px;">9.355.677-9</td>
            <td style="color: black; font-size: 25px;">Biserka Savka</td>
            <td style="color: black; font-size: 25px;">Spralja Satalic</td>
            <td style="color: black; font-size: 25px;">Cirugia</td>
            <td><img src="img/doctor03.gif" style="width: 120px;"></td>
            <td style="color: black; font-size: 25px;">
              <button type="submit" class="btn btn-dark btn-lg">Editar</button>
              <button type="submit" class="btn btn-dark btn-lg">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Footer -->
    <div 
      id="footer">
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous">
    </script>
    <script 
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" 
      crossorigin="anonymous">
    </script>
    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
      integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
      crossorigin="anonymous" 
      referrerpolicy="no-referrer">
    </script>
    <script 
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script 
      src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js">
    </script>
    <script 
      src="js/script_admin.js">
    </script>
  </body>
</html>